/* import fonts */
@font-face {
  font-family: "Pixeloid";
  src: url("../fonts/PixeloidSans.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Pixeloid";
  src: url("../fonts/PixeloidSans-Bold.ttf");
  font-weight: bold;
}

/* reset styles */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Pixeloid", sans-serif;
  display: grid;
  place-items: center;
}

/* custom classes */
.container {
  width: min(100%, 425px);
  padding: 2.4rem 1.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.neobrutalist {
  border: solid 4px black;
  box-shadow: 4px 4px black;
}

.default-btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: fit-content;
  padding: 1.2rem 1.6rem;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Pixeloid", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
}

.icon-btn {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  background-color: black;
  cursor: pointer;
}

#message {
  font-size: 1.6rem;
  text-align: center;
}

nav {
  width: 100%;
  padding-bottom: 1.2rem;
  border-bottom: 4px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-weight: bold;
  font-size: 2.4rem;
}

.tools {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.tools a {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: black;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}