{% extends "base.html" %}

{% block meta %} 
<meta name="description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:image" content="{{ url_for('static', filename='art/cloud1.png') }}"/>
<meta property="og:description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:title" content="Domain - Trivia With Friends"/>
<title>Domain - Trivia With Friends</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
{{ super() }}
{% endblock %}

{% block preload_scripts %}
{% endblock %}

{% block nav %}
<nav>
  <h1>DOMAIN</h1>
</nav>
{% endblock %}

{% block content %}
<form action="/" method="post">
  <h2>Create Your Game</h2>
  <div class="input-wrapper">
    <label for="questions">Number of Questions</label>
    <input
      class="neobrutalist"
      id="questions"
      type="number"
      value="10"
      name="questions"
      required
    />
  </div>
  <div class="input-wrapper">
    <label for="timer">Question Timer</label>
    <input
      class="neobrutalist"
      id="timer"
      type="number"
      value="60"
      name="timer"
      required
    />
  </div>

  <button class="default-btn" type="submit">
    CREATE GAME
    <img 
      src="{{ url_for('static', filename='icons/ArrowRight.svg') }}"
      alt="arrow right icon"
      width="14"
      height="14"
    />
  </button>
</form>
{% endblock %}

{% block postload_scripts %}
{% endblock %}

