<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='art/logo.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Hungry Monkey"/>
    <meta name="description" content="You've been challenged to a game of trivia! :D"/>
    <meta property="og:image" content="{{ url_for('static', filename='art/cloud1.png') }}"/>
    <meta property="og:description" content="You've been challenged to a game of trivia! :D"/>
    <meta property="og:title" content="Domain"/>
    <title>Domain</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
  </head>
  <body>
    <div class="container">
        <h1>Error Occurred</h1>
        <p>{{ msg }}</p>
        <a href="/" class="default-btn">
            BACK
        </a>
    </div>
  </body>
</html>
