{% extends "base.html" %}

{% block meta %} 
<meta name="description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:image" content="{{ url_for('static', filename='art/cloud1.png') }}"/>
<meta property="og:description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:title" content="Domain - Trivia With Friends"/>
<title>Domain - Trivia With Friends</title>
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block preload_scripts %}
{% endblock %}

{% block content %}
<div id="content">

</div>
{% endblock %}

{% block postload_scripts %}
<script>
    async function loadContent(url) {
        const response = await fetch(url)
        const html = await response.text()
        document.getElementById('content').innerHTML = html
    }
</script>
<script>
    const room_id = "{{ room_id }}"
    const user = localStorage.getItem(`${room_id}_user`)

    if (user === null) {
        
    }

    let currIdx = 0
    const urls = ['/waiting_room/test', 'question_active', 'wait_for_response', 'show_correct_answer', 'show_leaderboard', 'show_end_game']
</script>
<script src="{{ url_for('static', filename='scripts/game.js') }}"></script>
{% endblock %}