{% extends "base.html" %}

{% block meta %} 
<meta name="description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:image" content="{{ url_for('static', filename='art/cloud1.png') }}"/>
<meta property="og:description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:title" content="Domain - Trivia With Friends"/>
<title>Domain - Trivia With Friends</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game.css') }}">
{{ super() }}
{% endblock %}

{% block preload_scripts %}
{% endblock %}

{% block nav %}
<nav>
    <h1>DOMAIN</h1>
    <div>
        <a href="/">
            <img src="{{ url_for('static', filename='icons/Times.svg') }}" alt="close"/>
        </a>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="content">
    <div class="neobrutalist toolbar">
        <p id="curr_question">Q1</p>
        <p id="timer">sec</p>
    </div>
    <div class="neobrutalist qa">
        <p id="question"></p>
        <div id="answers"></div>
    </div>
    <div class="neobrutalist toolbar">
        <p id="score">0 pts</p>
        <p id="correctness"></p>
    </div>
</div>
{% endblock %}

{% block postload_scripts %}
<script>
    const game_id = "{{ game_id }}"
    const username = localStorage.getItem("domain_username");
    let curr_question = 1;
    let timer = localStorage.getItem("domain_timer") || 61;

    const questionEl = document.getElementById("question");
    const answersEl = document.getElementById("answers");
    const correctnessEl = document.getElementById("correctness");
    const scoreEl = document.getElementById("score");
    const currQuestionEl = document.getElementById("curr_question");
    const timerEl = document.getElementById("timer");

    init();

    async function init() {
        const response = await fetch(`/game/${game_id}/get_question`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const data = await response.json();
        question = data.question
        answer_choices = data.answers
        curr_question = data.curr_question

        timeInterval = setInterval(() => {
            timer--;
            timerEl.textContent = `${timer} sec`;
            localStorage.setItem("domain_timer", timer);
            if (timer <= 0) {
                clearInterval(timeInterval);
                getNextQuestion();
                timer = 61;
            }
        }, 1000)

        currQuestionEl.textContent = `Q${(curr_question+1)}`;
        questionEl.textContent = decodeBase64(question);
        for (let i = answersEl.children.length - 1; i >= 0; i--) {
            answersEl.removeChild(answersEl.children[i]);
        }
        for(let i=0; i<answer_choices.length; i++) {
            const btn = document.createElement("button")
            const img = document.createElement("img")
            img.src = "{{ url_for('static', filename='icons/Play.svg') }}"
            btn.appendChild(img);

            const text = document.createElement("p")
            text.textContent = decodeBase64(answer_choices[i])
            btn.appendChild(text);
            btn.addEventListener("click", async function() {
                const data = await checkAns(answer_choices[i]);
                if (data.correct) {
                    // highlight correct answer green
                    for (let j = 0; j < answersEl.children.length; j++) {
                        if (answer_choices[j] === data.correct_answer) {
                            answersEl.children[j].style.color = "green";
                        }
                    }
                    correctnessEl.style.display = "block";
                    correctnessEl.textContent = "CORRECT";
                    correctnessEl.style.color = "green";
                } else {
                    // if answer choice isn't correct, highlight your answer red and correct answer green
                    for (let j = 0; j < answersEl.children.length; j++) {
                        if (answer_choices[j] === data.correct_answer) {
                            answersEl.children[j].style.color = "green";
                        }
                        if (answer_choices[j] === data.your_answer) {
                            answersEl.children[j].style.color = "red";
                        }
                    }
                    correctnessEl.style.display = "block";
                    correctnessEl.textContent = "INCORRECT";
                    correctnessEl.style.color = "red";
                }
                setTimeout(() => {
                    correctnessEl.style.display = "none";
                    getNextQuestion();
                    clearInterval(timeInterval);
                    timer = 61;
                }, 2000);
            });

            answersEl.appendChild(btn)
        }
        const score = await fetch(`/player/${username}/${game_id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const scoreData = await score.json();
        console.log(scoreData);
        scoreEl.textContent = `${scoreData.score} pts`;
    }

    function decodeBase64(encoded) {
        return atob(encoded)
    }

    async function checkAns(answer_choice) {
        const response = await fetch(`/game/${game_id}/check`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username,
                answer: answer_choice,
                curr_time: timer
            })
        });
        const data = await response.json();
        return data;
    }

    async function getNextQuestion() {
        const response = await fetch(`/game/${game_id}/next`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const data = await response.json();
        if (data.ok && !data.game_over) {
            init();
        } else if (data.ok && data.game_over) {
            clearInterval(timeInterval);
            localStorage.removeItem("domain_timer");
            window.location.href = `/game/${game_id}/results`;
        } else {
            console.log("uh oh...");
        }
    }
</script>
{% endblock %}