<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/art/Moon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Play a fun game of trivia with your friends!"/>
    <meta property="og:image" content="art/cloud1.png"/>
    <meta property="og:description" content="Play a fun game of trivia with your friends!"/>
    <meta property="og:title" content="Domain - Trivia With Friends"/>
    <title>Domain - Trivia With Friends</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    Home page for domain
  </body>
</html>
