{% extends "base.html" %}

{% block meta %} 
<meta name="description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:image" content="{{ url_for('static', filename='art/cloud1.png') }}"/>
<meta property="og:description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:title" content="Domain - Trivia With Friends"/>
<title>Domain - Trivia With Friends</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/share.css') }}">
{{ super() }}
{% endblock %}

{% block preload_scripts %}
{% endblock %}

{% block nav %}
<nav>
  <h1>Waiting Room</h1>
</nav>
{% endblock %}

{% block content %}
<div id="content" class="content">
    <img/>
    <button class="default-btn" type="button">
        <img src="{{ url_for('static', filename='icons/Share.svg') }}"/>
        SHARE
    </button>
    <!-- <div class="neobrutalist">
        <p></p>
    </div> -->
    <button class="default-btn" type="button" id="startBtn">START</button>
</div>
<div id="modal" class="content">
    <form id="username-form">
        <div class="input-wrapper">
          <label for="username">Your Username</label>
          <input
            class="neobrutalist"
            id="username"
            type="text"
            value="Pickles Von Crunch"
            name="username"
            required
          />
        </div>
    </form>
</div>
{% endblock %}

{% block postload_scripts %}
<script>
    // expose game_id to share.js
    const game_id = "{{ game_id }}";
</script>
<script src="{{ url_for('static', filename='scripts/share.js') }}"></script>
{% endblock %}

