{% extends "base.html" %}

{% block meta %} 
<meta name="description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:image" content="{{ url_for('static', filename='art/cloud1.png') }}"/>
<meta property="og:description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:title" content="Domain - Trivia With Friends"/>
<title>Domain - Trivia With Friends</title>
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block preload_scripts %}
{% endblock %}

{% block content %}
<div id="content">
</div>
{% endblock %}

{% block postload_scripts %}
<script>
    function loadUsernamePrompt() {
        document.getElementById("content").innerHTML = `
        <div>
            <h2>Enter your username</h2>
            <form id="usernameForm">
                <input id="username" type="text" name="username" placeholder="Username" required>
                <input type="submit" value="Submit">
            </form>
        </div>
        `
    }
    function loadWaitingRoom() {
        document.getElementById("content").innerHTML = `
        <div>
            <h2>Waiting Room</h2>
            <div>
                <img src="data:image/png;base64,{{ qrcode }}" alt="QR Code"/>
                <button type="button">Share</button>
                <button id="startBtn" type="button">Start</button>
            </div>
            <p>waiting for others to join...</p>
        </div>
        `
        document.getElementById("startBtn").addEventListener("click", async function() {
            console.log("testing")
            // update game state
            const response = await fetch("/game_start", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ room_id: room_id })
            });
            if (response.ok) {
                window.location.href = `/game/${room_id}`
            }
        })
    }
</script>
<script>
    const room_id = "{{ room_id }}"
    const user = localStorage.getItem(`${room_id}_user`)
    if (user === null) {
        loadUsernamePrompt()
    } else {
        loadWaitingRoom()
    }
</script>
{% endblock %}