<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='logo.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block meta %}
        {% endblock %}
    
        {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        {% endblock %}

        {% block preload_scripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block nav %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
        </div>

        {% block postload_scripts %}
        {% endblock %}
    </body>
</html>
