{% extends "base.html" %}

{% block meta %} 
<meta name="description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:image" content="{{ url_for('static', filename='art/cloud1.png') }}"/>
<meta property="og:description" content="Play a fun game of trivia with your friends!"/>
<meta property="og:title" content="Domain - Trivia With Friends"/>
<title>Domain - Trivia With Friends</title>
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block preload_scripts %}
{% endblock %}

{% block content %}
<div id="content">
    ermmmm
</div>
{% endblock %}